
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Tapestry&display=swap" rel="stylesheet"> 

<div>
  <h1>Tic Tac Toe</h1>
  <br>
  <div class="main-app">
    <app-board></app-board>
    
  </div>
</div>