.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #fff;
  background-color: rgb(112, 160, 160);
}

.status{
  font-family: 'Sawarabi Mincho', serif;
  font-family: 'Tapestry', cursive;
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.new-game{
  width: 100%;
}


