

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Tapestry&display=swap" rel="stylesheet"> 



<div>
  <div class="status ">
    {{statusMessage}}<br>
    {{message}}

  </div>
  <br>
  <div class="board" 
  *ngFor="let row of [0,1,2]">
    <app-cell *ngFor="let col of [0,1,2]" 
           [row]='row' 
           [col]="col" 
           [piece]="board[row][col]" 
           (click)="move(row,col)">
    </app-cell>
  </div>
<br>
  <div class="pt-2"></div>
  <button *ngIf="gameOver" class="btn btn-primary new-game" (click)="newGame()">New Game</button>
</div>
