
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Tapestry&display=swap" rel="stylesheet"> 


<div class="cell align-middle"
 [ngClass]="{'v1': col !== 2, 'h2' : row !== 2}">
 {{piece}}

</div>
