.cell{
  text-align: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-size: 5em;
  font-family: sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: 'Sawarabi Mincho', serif;
  font-family: 'Tapestry', cursive;
}

.cell:hover{
  
  background-color: #a7e7e7;
  cursor: pointer;
}

.v1{
  border-right: 3px solid black;

}

.h2{
  border-bottom: 3px solid black;
}

